@charset "utf-8";

/*==============================================================
# mixins
============================================================= */
//マップ型変数breakpointsを定義
$breakpoints: (
//キー 値
  'sm': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
  'md': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/*==============================================================
# color
============================================================= */
$primary-btn-color: #FFAA3B;
$font-color: #3E3E3E;
$bg-color: #F3F3F3;

/*==============================================================
# font
============================================================= */
$font-family-japanese:"Yu Gothic", sans-serif;//日本語
$font-family-english: 'Montserrat', sans-serif;//英語

/*==============================================================
# common
============================================================= */
@include mq("sm") {
  .is-pc {
    display: none;
  }
}

@include mq("md") {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  font-family: $font-family-japanese;
  line-height: 1.1875;
  background: $bg-color;
}

img {
  width: 100%;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

/*==============================================================
# header
============================================================= */
.header {
  background: #FFFFFF1A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-item {
  & + & {
      margin-left: 50px;
  }
}

.header-nav-item-link {
  display: block;
  color: $font-color;
  letter-spacing: .1em;
  padding: 23px 0;
}

/*==============================================================
# main
============================================================= */
/* common
============================================================= */
.section {
  margin-top: 120px;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: $font-color;
  text-align: center;
  line-height: 1;
}

.btn-link {
  color: #fff;
  background: $primary-btn-color;
  padding: 16px 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px #3E3E3E33;
}

.btn-sub {
  color: $font-color;
  display: inline-block;
  font-size: 20px;
  background-color: #fff;
  border: $font-color 1px solid;
  padding: 20px 80px;
}

/* top
============================================================= */
.top {
  position: relative;
}

.top-picture {
  padding-top: 50%;
  background: url(../img/mv.png) center center / cover;
}

.top-message {
  position: absolute;
  top: 35%;
  right: 3%;
  width: 650px;
}

.top-message-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
}

.top-message-text {
  padding-top: 40px;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 1.55555;
}

.top-footer {
  padding-top: 40px;
  width: 282px;
  height: 50px;
}

/* news
============================================================= */
.news-inner {

  padding: 60px 60px 40px;
  box-shadow: 0px 5px 12px #3E3E3E33;
}

.news-list {
  width: 100%;
}

.news-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3E3E3E33;
  padding: 40px 0;
  position: relative;

  &:first-child {
    border-top: 1px solid #3E3E3E33;
    margin-top: 60px;
  }

  &::after {
    content: "";
    background: transparent url(../img/news-arrow-1.png) no-repeat center center / contain;
    width: 11px;
    height: 22px;
    position: absolute;
    right: 1%;
  }
}

.news-info {
  display: flex;
  align-items: center;
}

.news-item-date {
  font-size: 16px;
  width: 98px;
}

.news-label-link {
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 8px 32px;
  width: 121px;
  margin: 0 40px;
}

.news-title {
  font-size: 18px;
  width: 698px;
}

.news-footer {
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

/* service
============================================================= */
.service-header {
  background-color: #3E3E3E;
  padding-top: 60px;
  width: 100%;
  height: 400px;
  position: relative;

  .service-title {
    color: #fff
  }
}

.service-list {
  box-shadow: 0px 5px 12px #3E3E3E33;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 331px;
  position: absolute;
  left: 50%;
  top: 178%;
  transform: translateX(-50%);
}

.service-item {
  text-align: center;
  width: 230px;
  margin-top: 60px;
}

.service-item-picture {
  width: 64px;
  height: 64px;
  display: inline-block;
}

.service-item-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.service-item-text {
  width: 230px;
  height: 67px;
  font-size: 14px;
  text-align: left;
  line-height: 1.71428;
}

/* result
============================================================= */
.result {
  margin-top: 215px;
  margin-left: 40px;
  padding: 60px;
  padding-right: 0;
  width: 100%;
  background: #3E3E3E;
}

.result-header {
  text-align: left;
  display: inline-block;
  margin-bottom: 60px;

  .result-title {
    color: #fff
  }
}

.swiper-item {
  width: 400px;
  padding-right: 17px;
}

.swiper-body {
  background: #fff;
  padding: 16px;
}

.swiper-body-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 16px;
}

.swiper-body-text {
  font-size: 16px;
}

.swiper-pagination {
  margin-top: 40px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.swiper-pagination-bullet-active {
  border: 1px solid #fff;
}

.result-btn {
  margin-top: 100px;
  border: 1px solid #fff;
  color: #fff;
  background: #3E3E3E;
}

/* price
============================================================= */
.table-price {
  margin: 0 auto;
  display: table;
}

.table-price-content {
  margin-top: 60px;

  th {
    padding: 16px 100px;
    color: #fff;
    background: #3E3E3E;
    border-bottom: 1px solid #fff;
  }

  td {
    padding: 16px 492px 16px 40px;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #3e3e3e;
  }
}

.table-price-attention {
  font-size: 12px;
  margin-top: 12px;
}

/* comments
============================================================= */
.comments {
  margin-top: 292px;
  position: relative;
}

.comments-bg {
  width: 980px;
  height: 576px;
  background:#3E3E3E;
}

.comments-top {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 21%;
}

.comments-main-box {
  box-shadow: 0px 0px 10px #00000029;
  width: 666px;
  height: 604px;
  padding: 120px 60px  0 60px;
  background: #fff;
}

.comments-title {
  text-align: left;
  padding-bottom: 60px;
}

.comments-item {
  display: flex;
  align-items: center;

  & + & {
    margin: 60px 0 120px;
  }
}

.comments-item-header {
  flex: 0 0 100px;
  margin-right: 32px;
}

.comments-body {
  flex: 0 1 100%;
}

.comments-image-box {
  width: 534px;
}

/* Q&A
============================================================= */
.faqs {
  background: url(../img/qa-bg.png)no-repeat center center / cover;
}

.faq-title {
  padding: 60px 0;
}

.qa-content {
  margin-left: 0;
}
/*==============================================================
# footer
============================================================= */
.footer {
  background: #3E3E3E;
  padding: 60px 160px;
}

.footer-content {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
}

.footer-sns-item {
  display: inline-block;
  margin-bottom: 40px;

  & + & {
    margin-left: 32px;
  }
}

.footer-sns-item-link {
  color: #9e9e9e;
}

.footer-nav-item {
  & {
    margin-bottom: 24px;
  }
}

.footer-nav-item-link {
  color: #fff;
  display: block;
}

.footer-right {
  margin-left: 0;
}

.footer-logo {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-copyright {
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
}